body {
    display: grid;
    place-items: center; /* Hem dikey hem yatayda merkezleme */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-main {
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .app-main {
        padding: 10px;
        border-radius: 5px;
    }

    .input-box {
        padding: 8px;
    }
}